@model IEnumerable<ForestrySystem.Models.TypeOfTimber>

    @{
    ViewData["Title"] = "Display Table";
    }


    <h1>Display Table</h1>

        <table>
            <thead>
                <tr>
                    <th>Вид сеч</th>
                    <th>Количество</th>
                    <th>Година</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model){
                <tr>
                    <td>@item.TimberName</td>
                    <td>@item.AmountForLogging</td>
                    <td>@item.YearOfLogging</td>
                </tr>
            }
            </tbody>
        </table>
  